.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.off {
  color: red;
}

.on {
  color: green;
}

button {
  width:100px;
  height:100px;
  background-color: grey;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  color: #007acc;
  font-size: 25px;
  text-align: center;
}
